:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  padding: 1.5em;
  min-width: 320px;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

.logo {
  height: 2.75em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #e94280);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.example-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.named-slider {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 70px;
  border: 1px solid #44444474;
  padding: 0.5em;
  border-radius: 5px;
}

label {
  font-size: 0.75em;
  color: #e94280;
}

.slider::-moz-range-track {
  width: 5px;
  background-color: darkslategray;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 40px;
  border: 0;
  background: transparent;
  background-image: url("./assets/fader.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-value {
  padding: 0.25em;
  border: 1px solid #e9427f94;
  border-radius: 6px;
  width: 60px;
  text-align: center;
}

li {
  list-style-type: "∿";
  padding-inline-start: 1ch;
}

code {
  border: 1px solid lightslategray;
  border-radius: 3px;
  padding: 0.3em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="range"][orient="vertical"] {
  -webkit-appearance: slider-vertical;
  width: 8px;
  padding: 0 5px;
  border-radius: 5px;
}

.go-back {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.header-title {
  flex: 1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.section {
  border: 1px solid lightslategray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.section-content-row {
  display: flex;
  gap: 5px;
  flex: 1;
}

.section-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  flex: 1;
}

#fm-section {
  border: 1px solid lightslategray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  width: fit-content;
  gap: 10px;
  padding: 10px;
}

#pad-section {
  border: 1px solid lightslategray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  width: fit-content;
  gap: 10px;
  padding: 10px;
  height: 100%;
}

.section-name {
  font-weight: light;
  font-size: 0.8em;
}

#synth-frame {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  padding: 10px;
  /* width: 90%; */
  width: fit-content;
  margin: auto;
  border: 1px solid rgb(84, 18, 18);
  border-radius: 10px;
}

#synth-sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

#top-section {
  display: flex;
}

.pad {
  border: 1px solid ghostwhite;
  border-radius: 10px;
  background-color: darkslategrey;
}

.pad.pressed {
  background-color: darkorange;
}

.named-pad {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
